<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz.css')}}" />
  </head>

  <body>
    <header>
      <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('quiz') }}">Quiz</a>
        <a href="{{ url_for('mood') }}">Mood</a>
      </nav>
    </header>
    <form id="quizForm">
      <div class="quiz" id="questionContainer"></div>
    </form>
    <div class="btn"><button id="nextBtn" type="button">Continue</button></div>

    <div class="resultf" id="resultFlower"></div>
    <div id="errorMessage"></div>

    <div class="btn">
      <button id="restartBtn" type="button" style="display: none">
        เริ่มใหม่
      </button>
    </div>
    <script src="{{ url_for('static', filename='js/quiz.js')}}"></script>
  </body>
</html>
